.crossing{
    width: 17vw;
    height: 17vw;
}
.crossing--closeup{
    width: 60vw;
    height: 60vw;
}
.crossing--onCrossroads{
    position: absolute;
}
.crossing--fadein{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slide--inFocus .crossing--fadein{
    opacity: 1;
}
.crossing--fadeout{
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.slide--inFocus .crossing--fadeout{
    opacity: 0;
}
.crossing.crossing--onCrossroads:nth-child(4n) {
    transform: translate3d(16vw, 0, 0);
}
.crossing.crossing--onCrossroads:nth-child(4n + 1) {
    transform: translate3d(0, 16vw, 0) rotate(90deg);
}
.crossing.crossing--onCrossroads:nth-child(4n + 2) {
    transform: translate3d(-16vw, 0, 0);
}
.crossing.crossing--onCrossroads:nth-child(4n + 3) {
    transform: translate3d(0, -16vw, 0) rotate(90deg);
}
.crossing-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 17vw;
    height: 17vw;
}
.animated--triggered.crossing--toRoads  {
    animation: shrinkLines 5s ease infinite;
}
  
@keyframes shrinkLines {
    0% { 
        stroke-width:5;
    }
    100% { 
        stroke-width: 2; 
    }
}