.scene { 
    position: absolute;
    height: 50vh;
    width: 100%;
    bottom: 0;
    border-top: 2px solid #fff;
    overflow: hidden;
    perspective: 500vh;
}
.foreground {
    transition: transform 5s ease-out;
    transform: translate3d(0, -271vh, 0) rotate3d(1, 0, 0, 77deg);
}
.foreground--atCrossing {
    transform: translate3d(0, -250vh, 0) rotate3d(1, 0, 0, 77deg);
}
.smallify {
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 20vh;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -20vh, 0);
    transition: transform 2s ease-out;
    transition-delay: 3s;
}
.smallify--appear {
    transform: translate3d(-50%, 0vh, 0);
}
.endRoad {
    height: 200vh;
    width: 200%;
    background-color: #222324;
    transform: translate3d(-25%, -216px, 0);
    border-bottom: 35px solid #fff;
}

.road {
    height: 352vh;
    background-color: #222324;
    border-left: 35px solid #fff;
    border-right: 35px solid #fff;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transform: translateY(-252px);
}
.roadDelimeter--animated {
    animation: roll linear 4s infinite;
}
@keyframes roll {
    from{
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -975;
    }
}

.car {
    position: absolute;
    bottom: 0;
    width: 45vw;
    transform: translateX(49vw);
}

.car--driving {
    animation: drive 2s infinite;
}
.car--drivingToHalt {
    animation: halt 5s 1;
    transform: translateX(47vw) rotate(0deg);
}
@keyframes drive {
    0%{
        transform: translateX(49vw)rotate(0deg);
    }
    33%{
        transform: translateX(49vw) rotate(7deg);
    }
    66%{
        transform: translateX(49vw) rotate(-7deg);
    }
    100%{
        transform: translateX(49vw)rotate(0deg);
    }
}
@keyframes halt {
    0%{
        transform: translateX(49vw)rotate(0deg);
    }
    20%{
        transform: translateX(49vw) rotate(7deg);
    }
    40%{
        transform: translateX(49vw) rotate(-7deg);
    }
    60%{
        transform: translateX(48vw)rotate(0deg);
    }
    70%{
        transform: translateX(48vw)rotate(3deg);
    }
    80%{
        transform: translateX(48vw)rotate(0deg);
    }
    90%{
        transform: translateX(47vw)rotate(-3deg);
    }
    100%{
        transform: translateX(47vw) rotate(0deg);
    }
}