.bird{
    width: 20px;
    height: 20px;
    transform: translate3d(50vw, 0, 0);
    bottom: -20px;
    position: absolute;
}
.bird:nth-child(5n + 1){
    transform: translate3d(40vw, 0, 0);
    bottom: -30px;
}
.bird:nth-child(5n + 2){
    transform: translate3d(45vw, 0, 0);
    bottom: -20px;
}
.bird:nth-child(5n + 3){
    transform: translate3d(55vw, 0, 0);
    bottom: -80px;
}
.bird:nth-child(5n + 4){
    transform: translate3d(64vw, 0, 0);
    bottom: -120px;
}
.bird:nth-child(5n + 4){
    transform: translate3d(59vw, 0, 0);
    bottom: -120px;
}
.bird--flyLeft{
    animation: flyLeft 7s infinite;
}
@keyframes flyLeft {
    to{
        width: 1000px;
        height: 100px;
        transform: translate3d(-20vw, -60vh, 0);
    }
}
.bird--flyRight{
    animation-delay: 3s;
    animation: flyRight 9s infinite;
}
@keyframes flyRight {
    to{
        width: 1000px;
        height: 100px;
        transform: translate3d(90vw, -60vh, 0);
    }
}
.cloud {
    clip-path: url(#cloudPath);
    width: 103vh;
    height: 67vh;
    background: #fff;
    transform: translate3d(-91vh, -14vw, 0) scale(0.6);
    animation: cloud 40s infinite;
    position: absolute;
}
.cloud--smaller {
    transform: translate3d(-70vh, -41vh, 0) scale(0.4);
    animation-delay: 7s;
    animation: cloud--smaller 30s infinite;
}
.cloud--quicker {
    transform: translate3d(-55vh, -15vh, 0) scale(0.5);
    animation-delay: 3s;
    animation: cloud--quicker 20s infinite;
}
@keyframes cloud {
    to{
        transform: translate3d(120vw, -20vh, 0);
    }
}
@keyframes cloud--smaller {
    to{
        transform: translate3d(110vw, -10vh, 0) scale(0.7);
    }
}
@keyframes cloud--quicker {
    to{
        transform: translate3d(120vw, -10vh, 0) scale(0.9);
    }
}
.cloudTexture {
    position: absolute;
    width: 400%;
    height: auto;
    animation: rollTexture 50s infinite linear;
}
@keyframes rollTexture {
    to{
        transform: translate3d(-66%, 0, 0);
    }
}
.cloud--smaller .cloudTexture {
    animation-delay: 20s;
}
.cloud--quicker .cloudTexture {
    animation-delay: 30s;
}
