:root{
    --roadDelimiter: #ab2;
}
body{
    background: #393e46;
    color: #96f7d2;
    margin: 0;
    font-size: 2rem;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
h1 {
    color: #f0f696;
}
h1.mainTitle {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -1.25rem;
    isolation: isolate;
}
h1.mainTitle>span {
    mix-blend-mode: multiply;
}
h1.mainTitle>span:nth-child(4n + 1) {
    color: #f5b5fc;
}
h1.mainTitle>span:nth-child(4n + 2) {
    color: #96f7d2;
}
h1.mainTitle>span:nth-child(4n + 3) {
    color: #f0f696;
}
h1.mainTitle>span:nth-child(4n + 4) {
    color: #fcb1b1;
}

.slide{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slide--noflex {
    display: block;
    justify-content: initial;
    align-items: initial;
}
.slideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slideContent img,
.slideContent video {
    max-height: 25vh;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content--sideBySide {
    flex-direction: row;
}
code {
    padding: 1rem;
    background: #455;
    border-radius: 3px;
}
.code--componentName {
    color: #bcb;
}
.code--prop {
    color: #cca;
}
.code--propName {
    color: #caf;
}
.code--operation {
    color: #f29;
}
.code--comment {
    color: #2cc;
}
.code--string {
    color: #d82
}