:root{
    --roadDelimiter: #ab2;
    --paletteOne: #f5b5fc;
    --paletteTwo: #96f7d2;
    --paletteThree: #f0f696;
    --paletteFour: #fcb1b1;
    --paletteBackground: #222324;
    --paletteBackgroundTwo: #303030;
}
body{
    background: var(--paletteBackground);
    color: var(--paletteTwo);
    margin: 0;
    font-size: 2rem;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
h1 {
    color: var(--paletteThree);
    margin: 2rem 10rem
}
h1.mainTitle {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -1.25rem;
    isolation: isolate;
}
h1.mainTitle>span {
    mix-blend-mode: multiply;
}
h1.mainTitle>span:nth-child(4n + 1) {
    color: var(--paletteOne);
}
h1.mainTitle>span:nth-child(4n + 2) {
    color: var(--paletteTwo);
}
h1.mainTitle>span:nth-child(4n + 3) {
    color: var(--paletteThree);
}
h1.mainTitle>span:nth-child(4n + 4) {
    color: var(--paletteFour);
}
.slide{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slide--noflex {
    display: block;
    justify-content: initial;
    align-items: initial;
}
.slideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slideContent img,
.slideContent .video {
    max-height: 25vh;
}
.video--turnt {
    max-width: 25vh;
    max-height: none;
    height: auto;
    transform: rotate(270deg)
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.content--sideBySide {
    flex-direction: row;
}
code {
    padding: 1rem;
    background: var(--paletteBackgroundTwo); 
    border-radius: 3px;
}
.code--componentName {
    color: #bcb;
}
.code--prop {
    color: #cca;
}
.code--propName {
    color: #caf;
}
.code--operation {
    color: #f29;
}
.code--comment {
    color: #2cc;
}
.code--string {
    color: #d82
}